<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.crms.mapper.AttendanceMapper">
    
    <insert id="insertAttendanceById" parameterType="Attendance" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO attendance
        (student_id, seminar_id, class_id, attendance_status)
        VALUES
        (#{student.id}, #{seminar.id}, #{classInfo.id}, #{attendanceStatus})
    </insert>
</mapper>