<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.crms.mapper.GradeMapper">

    <delete id="deleteStudentScoreGroupByTopicId" parameterType="BigInteger">
        DELETE FROM student_score_group
        WHERE seminar_group_topic_id=#{topicId}
    </delete>

    <insert id="insertGroupGradeByUserId">
        INSERT INTO student_score_group(student_id,seminar_group_topic_id,grade)
        VALUES (#{userId}, #{groupId},#{grade})
    </insert>

    <select id="getSeminarGroupBySeminarGroupId" resultType="xmu.crms.entity.SeminarGroup">
        SELECT id,seminar_id,report_grade,presentation_grade,final_grade,report,class_id,leader_id
        FROM seminar_group
        WHERE id=#{seminarGroup.id}
    </select>

    <select id="listSeminarGroupIdByUserId" parameterType="BigInteger">
        SELECT seminar_group_id,user_id
        FROM seminar_group_menmber
        WHERE student_id=#{userId}
    </select>

    <update id="updateGroupByGroupId" parameterType="xmu.crms.entity.SeminarGroup">
        UPDATE seminar_group
        SET report_grade = #{seminarGroup.reportGrade}
        WHERE id = #{seminarGroup.id}
    </update>
</mapper>